.form-title-container {
  margin: 0px auto;
  text-align: center;
  height: 8%;
}

h1, h2 {
  padding: 0px;
  margin: 0px;
}

.form-container {
  margin: 20px auto;
  width: 90%;
  height: 85%;
  overflow: hidden;
  overflow-y: auto;
}

.dp-label{
  width: 50%;
  padding-top: 8px;
}

.dropdownButton{
  border: 1px solid black;
}

.custom-dropdown {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}

